@font-face {
    font-family: "Geist Pixel";
    src: url("../fonts/GeistPixelRegular.ttf");
}

#basicButton {
    -fx-font-size: 20px;
    -fx-background-color: pink;
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 1.25px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0, 0, 4);
    -fx-font-family: "Geist Pixel";
}

#intermediateButton {
    -fx-font-size: 20px;
    -fx-background-color: rgb(95, 210, 231);
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 1.25px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0, 0, 4);
    -fx-font-family: "Geist Pixel";
}

#customPdfButton{
    -fx-font-size: 20px;
    -fx-background-color: rgb(240, 231, 105);
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 1.25px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0, 0, 4);
    -fx-font-family: "Geist Pixel";
}

#backButton {
    -fx-font-size: 20px;
    -fx-background-color: rgb(193, 193, 193);
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 1.25px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0, 0, 4);
    -fx-font-family: "Geist Pixel";
}

#intermediateButton:hover,
#basicButton:hover,
#customPdfButton:hover,
#backButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 12, 0, 0, 6);
}

#intermediateButton:pressed,
#basicButton:pressed,
#customPdfButton:pressed,
#backButton:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, 0, 1);
}

#quizmodeselecttitle {
    -fx-font-family: "Geist Pixel";
    -fx-font-size: 50px;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
}

#basicButton:focused, #intermediateButton:focused, #customPdfButton:focused, #backButton:focused {
    -fx-border-color: yellow;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, gold, 10, 0.6, 0, 0);
}