@font-face {
    font-family: "Geist Pixel";
    src: url("../fonts/GeistPixelRegular.ttf");
}

#basicButton {
    -fx-font-size: 20px;
    -fx-background-color: pink;
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 1.25px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
    fx-font-family: "Geist Pixel";
}

#intermediateButton {
    -fx-font-size: 20px;
    -fx-background-color: rgb(95, 210, 231);
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 1.25px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
    fx-font-family: "Geist Pixel";
}

#customPdfButton{
    -fx-font-size: 20px;
    -fx-background-color: rgb(240, 231, 105);
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 1.25px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
    fx-font-family: "Geist Pixel";
}

#backButton {
    -fx-font-size: 20px;
    -fx-background-color: rgb(193, 193, 193);
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 1.25px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
    fx-font-family: "Geist Pixel";
}

#quizmodeselecttitle {
    -fx-font-family: "Geist Pixel";
    -fx-font-size: 50px;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
}
