@font-face {
    font-family: "Geist Pixel";
    src: url("../fonts/GeistPixelRegular.ttf");
}

#start_pane {
    -fx-background-image: url("../images/start.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#start_button, #settings_button, #quiz_mode_button {
    -fx-font-family: "Geist Pixel";
    -fx-font-weight: bold;
}

#start_button {
    -fx-font-size: 20px;
    -fx-background-color: pink;
    -fx-border-color: black;
    -fx-border-width: 1.25px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
}

#start_button:hover {
    -fx-background-color: derive(rgb(180, 94, 255), -10%);
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
}

#start_button:armed {
    -fx-background-color: derive(pink, -20%);
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
}

#settings_button {
    -fx-font-size: 17px;
    -fx-text-fill: white;
    -fx-background-color: rgb(16, 118, 16);
    -fx-border-color: white;
    -fx-border-width: 1.25px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
}

#settings_button:hover {
    -fx-background-color: derive(rgb(8, 58, 8), -10%);
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
}

#quiz_mode_button {
    -fx-font-size: 17px;
    -fx-text-fill: white;
    -fx-background-color: rgb(19, 49, 220);
    -fx-border-color: white;
    -fx-border-width: 1.25px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
}